<html>
  <head>  
    <title>Bob Wilkinson's Project Euler Code</title>  
  </head>  
  <body>  
    <p>The problems are listed at <a href="http://projecteuler.net/problems">http://projecteuler.net/problems</a> - these are my solutions. You may want to write them yourself. My code is available <a href="https://github.com/bobblestiltskin/project_euler.git">here</a>. We have <a href="https://www.fourtheye.org/timing_data.html">timing data</a> for some machines</p>

    <center>
    <table border="1">  
      <tr>  
        <th>Problem</th>  
        [% FOREACH language = languages - %]
          <td>
              <a href="https://www.fourtheye.org/cgi-bin/language.pl?language=[% language.language_name %]">
                [% language.display %]
              </a>
          </td>  
        [% END %]
      </tr>  
      [% FOREACH problem = problems - %]
        <tr>  
          <td>
            <a href="https://www.fourtheye.org/cgi-bin/problem.pl?number=[% problem.number %]">
              [% problem.number %]
            </a>
          </td>
          [% FOREACH language = languages - %]
            <td>
              <a href="https://www.fourtheye.org/cgi-bin/escape.pl?file=[% language.language_name %]/pe[% problem.number %].[% language.extension %]">
                [% problem.number %]
              </a>
            </td>
          [% END %]
        </tr>  
      [% END %]
    </table>

    <p>The more <strong>interesting</strong> links in the table above are the <em>column headers</em> and the <em>left-hand column</em></p>

    </center>
  </body>
</html>
